body {
margin: 0;
padding: 0;
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 14px;
line-height: 21px;
color: #333333;
background-color: #f2f2f2;
background-repeat: no-repeat;
background-position: top center;
text-transform: uppercase;
}

.container {
width: 1200px;
margin: 0 auto;  
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
}

/*Задаём визуальное скрытие заголовков, которые только для поисковиков*/
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
  
/*Выравнивание контента до "Настоящий городок"*/
.main-menu {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 1200px;
min-height: 56px;
margin: 0;
padding: 0;
background-color: #ffffff;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.main-navigation {
position: relative; 
z-index: 2;
}
  
.main-menu li {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
align-items: center;
width: 20%;
padding: 15px 0;
list-style-type: none;
font-family: "PTSans-Bold";
font-size: 14px;
line-height: 26px;
-webkit-box-align: center;
-ms-flex-align: center;
text-align: center;
}

.main-menu li:nth-child(3) {
margin-left: auto;
padding-left: 2px;
}

.main-logo {
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
}
  
.main-menu a {
display: inline-block;
margin: 0 auto;
vertical-align: middle;
color: #000000;
text-decoration: none;
text-align: center;
}
  
.main-menu a:hover {
color: #81b3d2;
}
  
.main-menu a:active {
color: rgba(0, 0, 0, 0.3);
}
  
.active-page {
color: #766357;
}
  
.content-main {
background-color: #ffffff;
}

/* Главный заголовок на background-image*/
.sedona-title {
width: 1200px;
min-height: 216px;
margin: 0;
margin-top: -6px;
padding: 0;
background-color: #ffffff;
}

.sedona-description {
padding-top: 38px;
text-align: center;
}

.slogan {
min-width: 450px;
margin-right: auto;
margin-left: auto;
padding-top: 6px;
font-family: "PTSans-Bold";
font-size: 21px;
line-height: 26px; 
text-align: center;
}

.five-reasons {
padding-top: 8px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 26px; 
color: #333333
}
  
.container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
align-items: center;
-webkit-box-align: center;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
-ms-flex-align: center;
-ms-flex-direction: column;
flex-direction: column;
}

.logo-sedona {
align-self: center;
min-width: 1200px;
height: 509px;
margin: 0;
padding: 0;
background-color: #dbe9f2;
z-index: 1;
-ms-flex-item-align: center;
}

.advice {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin: 0;
padding: 0;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.advice div {
-webkit-box-flex: 1;
flex-grow: 1;
-ms-flex-positive: 1;
}

.advice-text {
width: 400px;
min-height: 251px;
margin: 0;
padding: 0;
padding-top: 5px;
text-align: center;
color: #ffffff;
background-color: #81b3d2;
}

.advice-text h2 {
min-width: 280px;
margin-right: auto;
margin-left: auto;
padding-top: 31px;
padding-bottom: 8px;
color: #ffffff;
font-family: "PTSans-Bold";
font-size: 21px;
line-height: 21px;
text-align: center;
}

.advice-text p {
min-width: 310px;
margin-right: auto;
margin-left: auto;
padding-top: 4px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
text-align: center;
}

.advice-text .advice-first {
max-width: 290px;
}

.advice-image {
width: 800px;
height: 256px;
background-color: #c3866e;
}

.mirror {
-webkit-box-direction: reverse;
-webkit-box-orient: horizontal;
-ms-flex-direction: row-reverse;
flex-direction: row-reverse;
}

.advice-text1 {
width: 400px;
min-height: 251px;
margin: 0;
padding: 0;
padding-top: 5px;
text-align: center;
color: #ffffff;
background-color: #81b3d2;
}
  
.advice-text1 h2 {
min-width: 303px;
margin-right: auto;
margin-left: auto;
padding-top: 20px;
padding-bottom: 8px;
color: #ffffff;
font-family: "PTSans-Bold";
font-size: 21px;
line-height: 21px;
text-align: center;
}
  
.advice-text1 p {
min-width: 303px;
margin-right: auto;
margin-left: auto;
padding-top: 3px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
text-align: center;
}
  
.advice-text1 span {
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
text-align: center;
}
  
.advice-image {
width: 800px;
height: 256px;
background-color: #c3866e;
}

.advantages {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.advantages-item {
width: 400px;
min-height: 330px;
margin: 0;
padding: 0;
text-align: center;
background-color: #ffffff;
-webkit-box-flex: 1;
flex-grow: 1;
-ms-flex-positive: 1;
}

.advantages-item:nth-child(1) {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='72' viewBox='0 0 75 72'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M29.656 65.033h16V41.21h-16v23.823zm2.937-20.899h10.125V62.11H32.593V44.134z'/%3E%3Cpath d='M72.771 39.253l2.076-2.068-9.908-9.865V0H51.127v13.567L37.5 0 .152 37.185l2.077 2.068 7.832-7.795v37.618H6.124V72h63.875v-2.924H64.94V31.458l7.831 7.795zM62.002 69.076H12.999V28.534L37.5 4.149l24.502 24.385v40.542zm0-44.682l-7.938-7.902V2.924h7.938v21.47z'/%3E%3Cpath d='M29.906 27.08c0 4.261 3.47 7.713 7.75 7.713 4.279 0 7.75-3.452 7.75-7.713 0-4.259-3.471-7.713-7.75-7.713-4.281 0-7.75 3.454-7.75 7.713zm7.75-4.945c2.744 0 4.969 2.214 4.969 4.945 0 2.732-2.225 4.948-4.969 4.948-2.746 0-4.97-2.216-4.97-4.948 0-2.731 2.225-4.945 4.97-4.945zM17.061 41.21h3v3.919h-3zM22.999 41.21h3v3.919h-3zM17.061 47.182h3v3.919h-3zM22.999 47.182h3v3.919h-3zM48.998 41.21h3v3.919h-3zM54.936 41.21h3v3.919h-3zM48.998 47.182h3v3.919h-3zM54.936 47.182h3v3.919h-3z'/%3E%3C/g%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50% 64px;
padding-bottom: 10px;
}

.advantages-item:nth-child(2) {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='70' viewBox='0 0 74 70'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M69.854 46.71H4.051c-2.274 0-4.135 1.94-4.135 4.313v3.504c0 2.372 1.861 4.313 4.135 4.313h.93v1.053c0 5.536 4.341 10.065 9.648 10.065h44.646c5.306 0 9.648-4.529 9.648-10.065V58.84h.93c2.274 0 4.135-1.941 4.135-4.313v-3.504c0-2.373-1.86-4.313-4.134-4.313zm-3.848 13.184c0 3.871-3.019 7.021-6.73 7.021H14.629c-3.711 0-6.731-3.15-6.731-7.021v-1.053h58.107v1.053zm5.065-5.367c0 .688-.558 1.271-1.218 1.271H4.051c-.66 0-1.217-.582-1.217-1.271v-3.504c0-.688.558-1.271 1.217-1.271h65.802c.66 0 1.218.582 1.218 1.271v3.504zM15.634 38.406l5.323 4.059 5.326-4.059 5.328 4.059 5.328-4.059 5.328 4.059 5.329-4.059 5.327 4.059 5.33-4.06 5.336 4.059 6.194-4.712-1.72-2.459-4.474 3.403-5.336-4.057-5.33 4.056-5.327-4.057-5.329 4.057-5.328-4.057-5.328 4.057-5.328-4.057-5.325 4.057-5.323-4.057-5.327 4.057-4.467-3.401-1.721 2.457 6.188 4.714zM7.978 31.544H68.855c.041-.619.069-1.241.069-1.87 0-.394-.016-.783-.032-1.173C68.227 12.657 54.186 0 36.952 0 19.719 0 5.677 12.657 5.013 28.501c-.017.39-.032.78-.032 1.173 0 .629.028 1.251.07 1.87h2.927zM36.952 3.043c15.591 0 28.35 11.316 29.021 25.458H7.931c.673-14.142 13.43-25.458 29.021-25.458z'/%3E%3Cellipse cx='36.952' cy='15.26' rx='1.945' ry='2.03'/%3E%3Cellipse cx='29.172' cy='10.23' rx='1.946' ry='2.03'/%3E%3Cellipse cx='44.732' cy='10.23' rx='1.946' ry='2.03'/%3E%3C/g%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50% 64px;
}

.advantages-item:nth-child(3) {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='76' viewBox='0 0 64 76'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%2381B3D2' d='M61.097 22.501H36.312C50.125 15.602 51.229 11.25 50.72 8.816c-1.162-3.963-5.692-7.023-10.002-5.407-5.569 2.089-7.137 10.388-8.644 16.387-1.924-6.07-3.784-13.814-8.136-17.737C22.677.921 20.843-.205 18.175.031c-4.026.356-9.802 5.382-7.458 10.981 2.251 5.378 9.687 8.777 14.578 11.489H2.879A2.882 2.882 0 0 0 0 25.37v11.322a2.882 2.882 0 0 0 2.879 2.869h.274V76h57.841V39.561h.103a2.882 2.882 0 0 0 2.88-2.869V25.37a2.882 2.882 0 0 0-2.88-2.869zM42.413 5.944c2.103-.31 4.982 1.299 5.255 3.209.393 2.756-3.4 5.255-5.086 6.421-2.523 1.744-4.928 2.643-7.287 4.055.884-3.69 2.549-13.011 7.118-13.685zm-22.882 9.968c-2.225-1.485-6.544-4.431-6.44-7.771.112-3.595 5.743-6.57 8.814-3.886 3.856 3.371 5.713 11.105 7.119 16.557-3.249-1.539-6.328-2.788-9.493-4.9zm5.972 57.114H6.136V39.561h19.368v33.465zm0-36.502H3.046V25.538h22.457v10.986zm10.157 0v36.503h-7.174V25.538h7.174v10.986zm22.351 36.502H38.644V39.561h19.367v33.465zm2.92-36.502H38.644V25.538h22.287v10.986z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50% 60px;
}

.advantages-item h2 {
font-family: "PTSans-Bold";
font-size: 21px;
line-height: 21px;
padding-top: 150px;
padding-bottom: 5px;

}

.advantages-item p {
min-width: 290px;
margin-right: auto;
margin-left: auto;
font-family: PTSans-Regular;
font-size: 14px;
line-height: 21px;
color: #333333
}

.advice-dif {
color: #333333;
background-color: #eeeeee;
margin: 0;
padding: 0;
text-align: center;
-webkit-box-flex: 1;
flex-grow: 1;
-ms-flex-positive: 1;
}

.advice-dif h2 {
font-family: "PTSans-Bold";
font-size: 21px;
line-height: 21px;
padding-top: 26px;
color: #000000;
}

.advice-dif p {
width: 270px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
color: #333333;
padding-top: 5px;
}

.interest {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
justify-content: space-between;
width: 1200px;
min-height: 291px;
margin: 0;
padding: 0;
font-size: 14px;
line-height: 24px;
text-align: center;
color: #333333;
background-color: #ffffff;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
-webkit-box-pack: justify;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: justify;
}

.interest span {
font-family: "PTSans-Bold";
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #000000;
margin-top: 54px;
}

.interest p {
margin-bottom: 38px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 24px;
}

.search-hotels{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 568px;
height: 86px;
margin-right: auto;
margin-left: auto;
text-decoration: none;
font-family: "PTSans-Bold";
font-weight: 700;
font-size: 21px;
line-height: 26px;
color: #ffffff;
align-items: center;
justify-content: center;
background-color: #766357;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
-ms-flex-direction: column;
flex-direction: column;
}

/* Карта прописана на случай, если интерактивная не загрузится*/
.map {
width: 100%;
height: 593px;
margin-bottom: -120px;
background-image: url("../img/jpg-sedona/map_sedona.jpg");
background-repeat: no-repeat; 
}

iframe {
border-style: none;
}

.search {
width: 570px;
margin: 0 auto;
text-align: center;
}

.search-filters {
position: absolute;
z-index: 10;
display: none; /*Скрытие модального окна для эффекта поп-ап*/
padding-top: 56px;
padding-bottom: 55px;
padding-left: 57px;
padding-right: 54px;
font-weight: bold;
line-height: 26px; 
background-color: #ffffff;
box-shadow: 0 10px 40px 5px rgba(0, 0, 0, 0.2); 
}
  
/*Анимация выпадающего модального окна*/
@keyframes shake {
0%, 100% {transform: translateX(0); }
10%, 30%, 50%, 70%, 90%  {transform: translateX(-10px); }
20%, 40%, 60%, 80% {transform: translateX(10px); }
}
  
@keyframes bounce {
0% {transform: translateY(0); }
50% {transform: translateY(70px); }
80% {transform: translateY(-50px); }
100% {transform: translateY(0); }
}
  
.search-filters-show {
display: block;
animation-name: bounce;
animation-duration: 0.7s;
}
  
.modal-error {
animation-name: shake;
animation-duration: 0.6s;
} 
  
.field-data {
margin-bottom: 27px;
color: #000000;
}
  
.field-value-data {
position: relative;
margin-left: 114px;
margin-right: 39px;
}
  
.field-data label {
position: absolute;
display: flex;
justify-content: flex-start;
width: 91px;
margin-top: 7px;
}

.field-data input {
width: 100%;
height: 40px;
box-sizing: border-box;
padding-left: 8px;
text-transform: uppercase;
color: #000000;
font-family: "PTSans-Bold";
font-size: 14px;
line-height: 26px;
text-align: left;
background-color: #f2f2f2;
border: 2px solid #f2f2f2;  
outline: none; 
}
  
.field-data input:hover {
background-color: #ebebeb;
border-color: #ebebeb;
}
  
.field-data input:focus {
background-color: #ffffff;
border-color: #e5e5e5;
}

/*Меняем цвет текста плейсхолдеров*/
/*Chrome, Firefox, Opera, Safari 10.1+*/
::placeholder { 
color: #000000;
opacity: 1; 
}
/*Internet Explorer 10-11*/
:-ms-input-placeholder { 
color: #000000;
}
/*Microsoft Edge*/
::-ms-input-placeholder { 
color: #000000;
}

.btn-calendar {
position: absolute;
display: block;
top: 0;
right: -38px;
width: 39px;
height: 40px;
background-color: #f2f2f2;
padding: 0;
border: none;
outline: none;
cursor: pointer;
}

.btn-calendar:focus {
background-color: #f2f2f2;
-webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
box-shadow: inset 0 0 0 2px #e5e5e5;
}

.icon-calendar {
fill: #cacaca;
cursor: pointer;
}

.icon-calendar:hover {
fill: #000000;
}

.icon-calendar:active {
fill: #81b3d2;
}
  
.btn-people-number {
width: 38px;
height: 40px;
padding: 0;
margin: 0;
vertical-align: middle;
color: #cacaca;
background-color: #f2f2f2;
border: 0;
outline: 0;
font-size:1.8vw;
cursor: pointer;
}
  
.btn-people-number:hover {
color: #000000;
}
  
.btn-people-number:focus {
color: #000000;
}
  
.btn-people-number:active {
color: #81b3d2;
}
  
.people-number input,
.children-number input {
display: inline-block;
margin: 0;
width: 38px;
height: 40px;
padding: 0;
text-align: center;
vertical-align: middle;
background-color: #f2f2f2;
font-weight: bold;
border: 0;
outline: 0;
}

.people-number input:focus,
.children-number input:focus {
background-color: #f2f2f2;
-webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
box-shadow: inset 0 0 0 2px #e5e5e5;
}
  
.field-people {
margin-bottom: 54px;
}
  
.field-people > label {
float: left;
line-height: 38px;
}
  
.field-value-people {
height: 40px;
margin-left: 114px;
text-align: left;
font-family: "PTSans-Bold","Arial", sans-serif;
letter-spacing: normal;
font-size: 14px;
line-height: 26px;
color: #000000;
}
  
.btn-plus {
position: relative;
margin-left: -4px;
z-index: 2;
}

.btn-plus:focus {
background-color: #f2f2f2;
-webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
box-shadow: inset 0 0 0 2px #e5e5e5;
}
  
.btn-minus {
position: relative;
margin-right: -4px;
z-index: 2;
}

.btn-minus:focus {
background-color: #f2f2f2;
-webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
box-shadow: inset 0 0 0 2px #e5e5e5;
}
  
.people-number-adults{
float: left;
}
  
.children-number {
float: right;
}
  
.people-number-children {
display: inline-block;
margin-left: 30px;
font-family: "PTSans-Bold";
font-size: 14px;
line-height: 26px;
color: #000000;
}
  
.search-btn {
width: 458px;
height: 58px;
padding: 0;
margin: 0;
font-family: "PTSans-Bold";
font-size: 21px;
text-transform: uppercase;
color: #ffffff;
background-color: #81b3d2;
border: 0;
outline: 0;
cursor: pointer;
}
  
.search-btn:hover {
background-color: #669ec0;
}
  
.search-btn:focus {
-webkit-box-shadow: 0 0 0 0.1em #e5e5e5;
box-shadow: 0 0 0 0.1em #e5e5e5;
border-radius: 0.1em;
}
  
.search-btn:active {
color: #88b6d1;
background-color: #5496bd;
}

/*Футер*/
.main-footer {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
justify-content: space-between;
align-items: center;
width: 1200px;
min-height: 120px;
margin: 0;
padding: 0;
background-color: rgba(254, 254, 254, 0.9);
-webkit-box-align: center;
-webkit-box-pack: justify;
-ms-flex-align: center;
-ms-flex-pack: justify;
}

.footer-opacity {
position: absolute;
bottom: 0px;
}

.footer-align {
position: relative;
height: 0;
margin: 0;
padding: 0;
bottom: 0;
}

.footer-visit-sedona {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
width: 400px;
-webkit-box-align: center;
-webkit-box-pack: center;
-ms-flex-align: center;
-ms-flex-pack: center;
}

.footer-visit-sedona a {
display: flex;
justify-content: flex-start;
margin-left: 70px;
align-items: center;
font-size: 21px;
line-height: 30px;
font-family: "PTSans-Bold";
color: #000000;
text-decoration: none;
}

.footer-visit-sedona a:hover {
color: #81b3d2;
}
  
.footer-visit-sedona a:focus {
color: #81b3d2;
}
    
.footer-visit-sedona a:active {
color: #bdbbbc;
}

.footer-shadow {
position: relative;
z-index: 1;
}

.social {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
width: 400px;
margin-top: 20px;
padding: 0;
-webkit-box-pack: center;
-ms-flex-pack: center;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.social li {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
width: 46px;
height: 48px;
margin-right: 6px;
-webkit-box-align: center;
-webkit-box-pack: center;
-ms-flex-align: center;
-ms-flex-pack: center;
}

.social li:last-child {
margin-right: 0;
}

.social div {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
justify-content: center;
width: 46px;
height: 48px;
margin-right: auto;
margin-left: auto;
background-color: #81b3d2;
-webkit-box-pack: center;
-ms-flex-pack: center;
}


.social-twitter {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='15' viewBox='0 0 17 15'%3E%3Cpath fill='%23FFF' d='M10.95.144c1.685-.496 2.984.27 3.577 1.179.673-.231 1.331-.481 2.011-.708a2.345 2.345 0 0 1-.857 1.768c.685.17 1.304-.491 1.304-.491-.169 1-1.006 1.788-1.563 2.024-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.119C1.705 8.247.374 7.53.448 5.33c.285.328 1.067.536 1.34.472C1.085 5.561-.182 2.442.894.85c1.818 1.854 3.735 3.606 7.152 3.773C8.254 2.33 9.183.793 10.95.144z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50%;
}

.social-link:hover .social-twitter,
.social-link:hover .social-fb,
.social-link:hover .social-youtube {
background-color: #669ec0;
}

.social-link:active .social-twitter {
background-color: #5496bd;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='15' viewBox='0 0 17 15'%3E%3Cpath fill='%23FFF' d='M10.95.144c1.685-.496 2.984.27 3.577 1.179.673-.231 1.331-.481 2.011-.708a2.345 2.345 0 0 1-.857 1.768c.685.17 1.304-.491 1.304-.491-.169 1-1.006 1.788-1.563 2.024-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.119C1.705 8.247.374 7.53.448 5.33c.285.328 1.067.536 1.34.472C1.085 5.561-.182 2.442.894.85c1.818 1.854 3.735 3.606 7.152 3.773C8.254 2.33 9.183.793 10.95.144z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50%;
}

.social-fb {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50%;
}

.social-link:active .social-fb {
background-color: #5496bd;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50%;
}

.social-youtube {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='%23FFF' d='M17 0H3C1.35 0 0 1.35 0 3v10c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zM6.027 11.998V4.002L15.014 8l-8.987 3.998z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50%;
}


.social-link:active .social-youtube {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='%23FFF' d='M17 0H3C1.35 0 0 1.35 0 3v10c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zM6.027 11.998V4.002L15.014 8l-8.987 3.998z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: 50%;
}

.copyright {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
width: 400px;
-webkit-box-align: center;
-webkit-box-pack: center;
-ms-flex-align: center;
-ms-flex-pack: center;
}

.copyright span {
display: inline-block;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin-top: -2px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 26px;
vertical-align: middle;
}

.copyright-logo {
display: inline-block;
vertical-align: middle;
fill: #231f20;
margin-left: 4px;
margin-top: 2px;
}

  
.copyright-logo:hover {
fill: #81b3d2;
}
  
.copyright-logo:focus {
fill: #81b3d2;
}
  
.copyright-logo:active {
fill: #bdbbbc;
}

/*Стилизация страницы hotels.html*/
.sort-background {
width: 1200px;
height: 218px;
background: #3e739f url(../img/png-sedona/hotels-bg.png) no-repeat;
}

.form-container1 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-top: 0px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
color: #ffffff;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-ms-flex-direction: row;
flex-direction: row;
}

.infrastructure {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 255px;
margin-left: 71px;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
-ms-flex-direction: column;
flex-direction: column;
}

.infrastructure label,
.type-of-house label {
cursor: pointer;
}

.infrastructure span:first-child,
.type-of-house span:first-child {
padding-bottom: 23px;
padding-top: 28px;
font-family: "PTSans-Bold";
font-size: 16px;
line-height: 21px;
}

.checkbox-container1 {
position: relative;
margin: 0;
padding: 0;
padding-bottom: 25px;
}

.checkbox-container1 label:first-of-type {
padding-left: 40px;
}

/*Неотмеченный чекбокс*/
.checkbox-container1 input[type="checkbox"] ~ .checkbox-indicator {
position: absolute;
top: 0;
left: 0;
width: 27px;
height: 23px;
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23FFFFFF' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E")  no-repeat center top;
}

/*Отмеченный чекбокс*/
.checkbox-container1 input[type="checkbox"]:checked ~ .checkbox-indicator {
content: "";
position: absolute;
top: 0;
left: 0;
width: 27px;
height: 23px;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");
}

/*Фокус*/
.checkbox-container1 input[type="checkbox"]:focus ~ .checkbox-indicator {
-webkit-box-shadow: 0 0 0 0.2em #766357;
box-shadow: 0 0 0 0.2em #766357;
border-radius: 0.2em;
}

/*Неотмеченный и disabled чекбокс*/
.checkbox-container1 input[type="checkbox"]:disabled ~ .checkbox-indicator {
content: "";
position: absolute;
top: 0;
left: 0;
width: 23px;
height: 23px;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%236a6a6a' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
}

/*Отмеченный и disabled чекбокс*/
.checkbox-container1 input[type="checkbox"]:disabled:checked ~ .checkbox-indicator {
content: "";
position: absolute;
top: 0;
left: 2px;
width: 27px;
height: 23px;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%236a6a6a' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%236a6a6a' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
}

.type-of-house {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 200px;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
-ms-flex-direction: column;
flex-direction: column;
}

/*Боковой фильтр*/
.filter-range {
width: 318px;
margin-left: 284px;
margin-top: -4px;
color: #ffffff;
text-transform: uppercase;
}

.filter-range-title {
padding-top: 31px;
margin-bottom: 9px;
font-family: "PTSans-Bold";
font-size: 16px;
line-height: 21px;
}

.price-controls {
position: relative;
height: 32px;
margin-bottom: 20px;
font-size: 0;
border: 2px solid #ffffff;
border-radius: 2px;
}

.price-controls::after {
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 2px;
height: 22px;
background: #ffffff;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.price-controls label {
display: inline-block;
font-size: 14px;
line-height: 21px;
font-family: "PTSans-Regular";
cursor: pointer;
padding-top: 7px;
}

.price-controls .min-price {
width: 90px;
padding-left: 65px;
font-size: 14px;
line-height: 21px;
font-family: "PTSans-Regular";
}

.price-controls .max-price {
width: 90px;
padding-left: 57px;
font-size: 14px;
line-height: 21px;
font-family: "PTSans-Regular";
}

.price-controls input {
width: 50px;
margin: 0;
line-height: 21px;
font-family: "PTSans-Regular";
color: inherit;
background: none;
border: none;
outline: 0;
}

.range-controls {
position: relative;
margin-bottom: 32px;
}

.range-controls .scale {
height: 2px;
background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
width: 80%;
height: 2px;
background: #ffffff;
}

.range-toggle {
position: absolute;
top: -9px;
width: 4px;
height: 4px;
background: #ababab;
border: 8px solid #ffffff;
border-radius: 50%;
-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
cursor: pointer;
}

.range-toggle:hover {
top: -10px;
width: 6px;
height: 6px;
}

.range-toggle-min {
left: 0;
}

.range-toggle-max {
left: 79%;
}

.button-result {
display: block;
margin: 0 auto;
padding-top: 6px; 
padding-bottom: 6px;
padding-right: 34px;
padding-left: 34px;
font-size: 14px;
line-height: 20px;
font-family: "PT sans", Arial, sans-serif;
color: #ffffff;
text-transform: uppercase;
background: transparent;
border: 2px solid #ffffff;
border-radius: 2px;
cursor: pointer;
}

.button-result:hover {
color: #000000;
background: #ffffff;
}

/*Рейтинг*/
.sort-of {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 1200px;
min-height: 86px;
background-color: #fefefe;
border-bottom: 1px solid #e5e5e5;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-ms-flex-direction: row;
flex-direction: row;
}

.sort-of span {
margin-top: 31px;
margin-left: 71px;
font-family: "PTSans-Bold";
font-size: 21px;
line-height: 26px;
color: #000000;
}

.sort-of-main {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
align-items: center;
width: 365px;
margin: 0;
margin-top: 3px;
margin-left: 48px;
padding: 0;
list-style: none;
font-family: "PTSans-Regular";
font-size: 12px;
line-height: 18px;
color: #000000;
-webkit-box-align: center;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-ms-flex-align: center;
-ms-flex-direction: row;
flex-direction: row;
}

.sort-of-main a {
color: rgba(0, 0, 0, 0.3);
}

.sort-of-main a:hover {
color: #81b3d2;
border-bottom: 1px dotted #81b3d2;
}

.sort-of-main a:active {
color: #000000;
border: none;
}

.sort-of-main li:nth-child(1) {
margin-right: auto;
}

.sort-of-main li:nth-child(3) {
margin-left: 33px;
}

.sort-of-main li:nth-child(4) {
margin-right: 11px;
margin-left: 33px;
}

.sort-of-main .sort-active {
color: #81b3d2;
border: none;
}

.sort-of-main .sort-not-active {
border-bottom: 1px dotted #81b3d2;
}

.sort-of-triangle {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
align-items: center;
margin: 0;
margin-right: 73px;
margin-left: auto;
padding: 0;
list-style: none;
-webkit-box-align: center;
-ms-flex-align: center;
}

.sort-of-triangle li:nth-child(2) {
margin-left: 12px;
}

.triangle-link:hover .triangle {
fill: #000000;
}

.triangle-link:active .triangle {
pointer-events: none;

fill: #81b3d2;
}

.active-triangle {
fill: #81b3d2;
}

/* Результаты поиска */
.result {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
-ms-flex-direction: column;
flex-direction: column;
}

.hotel-found {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 1200px;
min-height: 150px;
background-color: #fefefe;
border-bottom: 1px solid #e5e5e5;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-ms-flex-direction: row;
flex-direction: row;
}

.result-picture {
width: 135px;
max-height: 90px;
margin-top: 30px;
margin-left: 73px;
background-color: #d1e8fa;
}

.result-description {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 760px;
margin: 0;
margin-top: 25px;
margin-left: 30px;
padding: 0;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
-ms-flex-direction: column;
flex-direction: column;
}

.result-description h2 {
margin-top: 0;
margin-bottom: 9px;
padding-left: 2px;
font-family: "PTSans-Bold";
font-size: 21px;
line-height: 21px;
color: #000000;
}

.result-description-link {
  color: #000000;
  }

.result-description-link:hover {
color: #81b3d2;
}

.result-description-link:active {
color: rgba(0, 0, 0, 0.3);
}

.result-row-1 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
color: #333333;
}

.result-row-1 span:nth-of-type(1) {
width: 112px;
margin-right: 5px;
}

.result-row-2 {
margin-top: 18px;
margin-bottom: 33px;
}

.result-learn-more {
padding-top: 4px;
padding-right: 17px;
padding-bottom: 5px;
padding-left: 17px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
color: #ffffff;
background-color: #81b3d2;
}

.result-reservation {
padding-top: 4px;
padding-right: 17px;
padding-bottom: 6px;
padding-left: 19px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
color: #ffffff;
background-color: #766357;
}

.result-learn-more:hover {
background-color: #669ec0;
}

.result-learn-more:active {
color: rgba(255, 255, 255, 0.3);
background-color: #5496bd;
}

.result-reservation:hover {
background-color: #604e43;
}

.result-reservation:active {
color: rgba(255, 255, 255, 0.3);
background-color: #503e33;
}

.result-reiting {
align-self: center;
margin-right: 70px;
margin-left: auto;
-ms-flex-item-align: center;
}

.result-item-stars {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
justify-content: flex-end;
align-items: flex-start;
height: 25px;
margin-bottom: 40px;
-webkit-box-align: start;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-webkit-box-pack: end;
-ms-flex-align: start;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-pack: end;
}

.raiting-star {
width: 18px;
height: 17px;
margin-left: 7px;
}

.result-item-rating {
padding-top: 4px;
padding-right: 14px;
padding-bottom: 5px;
padding-left: 17px;
font-family: "PTSans-Regular";
font-size: 14px;
line-height: 21px;
background-color: #f2f2f2;
}