body {padding: 0px 00px;
    /*margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #222222;
    background-color: #eff2f5;
    background-image: url("img/jpg-sedona/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: top center;*/
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-1 {
width: 75px;
height: 72px;
object-fit: contain;
}

.icon-2 {
width: 75px;
height: 72px;
object-fit: contain;
}

.icon-3{
width: 75px;
height: 72px;
object-fit: contain;
}

.social-tw {
background-image: url("img/svg-sedona/twitter.svg");
background-repeat: no-repeat;
background-position: 50%;
}

.social-fb {
background-image: url("img/svg-sedona/fb-icon.svg");
background-repeat: no-repeat;
background-position: 50%;
}

.social-youtube {
background-image: url("img/svg-sedona/youtube.svg");
background-repeat: no-repeat;
background-position: 50%;
}
    
    

